@{
    ViewBag.Title = "APMP - Confirmer votre courriel";
}

<h2>Bienvenue parmi nous!</h2><br />

<div>
    <p>
        Merci d'avoir confirmé votre courriel. <br/>
        N'oubliez pas d'entrer quotidiennement vos horaires.<br /><br/>
        Veuillez @Html.ActionLink("cliquer ici pour vous connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
     </p>
</div>

<br /><br />
<a href="http://www.apmpelectrique.ca"><img src="~/Images/LogoAPMP.png" width="500" /></a>
<br />
