@{
    ViewBag.Title = "APMP - Confirmation d'oubli de mot de passe";
}

<h2>Oubli de mot de passe</h2><br />

<div>
    <p>
        Veuillez vérifier votre courriel pour réinitialiser votre mot de passe.
    </p>
</div>

<br /><br />
<a href="http://www.apmpelectrique.ca"><img src="~/Images/LogoAPMP.png" width="500" /></a>
<br />

