
@{
    ViewBag.Title = "Veuillez confirmer votre courriel";
}

<h2>Bienvenue parmi nous!</h2><br /> 

Vous allez recevoir un courriel de confirmation vous permettant d'activer votre compte.

<br /><br />
<a href="http://www.apmpelectrique.ca"><img src="~/Images/LogoAPMP.png" width="500" /></a>
<br />



