@{
    ViewBag.Title = "APMP - Confirmation de réinitialisation du mot de passe";
}

<h2>Réinitialisation du mot de passe</h2><br />

<div>
    <p>
        Votre mot de passe a été réinitialisé. Veuillez @Html.ActionLink("cliquer ici pour vous connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>

<br /><br />
<a href="http://www.apmpelectrique.ca"><img src="~/Images/LogoAPMP.png" width="500" /></a>
<br />
