@model SalesTaxesModels.ItemModel

@{
    ViewBag.Title = "Details";
}

@Html.Partial("_details", Model)

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
