@{
    ViewBag.Title = "APMP - Contact";
}
<h2>Pour nous contacter:</h2>

<br />
<a href="http://www.apmpelectrique.ca"><img src="~/Images/LogoAPMP.png" width="500" /></a>
<br/>
<br />
<address>
    17475 rue des loisirs<br />
    Mirabel, Québec<br />
    J7J-2K1
</address>
<br />
<strong>Pascal Monti: (514) 519-3110:</strong> 
<br />
<a href="mailto:p.monti@apmpelectrique.ca">p.monti@apmpelectrique.ca</a>
<br />
<br />
<strong>Pajeman Assadi: (514) 562-2340:</strong>
<br />
<a href="mailto:p.assadi@apmpelectrique.ca">p.assadi@apmpelectrique.ca</a><br />


