@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "APMP - Bloqué";
}

<hgroup>
    <h1 class="text-danger">Bloqué.</h1>
    <h2 class="text-danger">Ce compte a été bloqué. Veuillez réessayer plus tard.</h2>
</hgroup>
